body    {

    margin: 0%;
}

.upper  {

    display: flex;
    width: 100%;
    height: 175px;
    background-image: url(https://images.unsplash.com/photo-1510070112810-d4e9a46d9e91?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fHN0dWR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    color: blanchedalmond;
    align-items: center;
    justify-content: center;
}

.bottom     {

    display: flex;
    /* flex-direction: row; */
}

.left-bottom  {

    width: 25%;
    height: 500px;
    background-color: #dea53a;
}

.right-bottom  {

    display: flex;
    /* flex-direction: column; */
    width: 75%;
    height: 500px;
    background-color: #e1e17e;
}

.r-content    {

    margin: 50px;
}

.l-content  {

    text-align: center;
    margin: 70px 50px;
}


.l-content ul   {

    padding: 0%;
    margin: 10px;
}

.l-content ul li    {

    background-color: #e1e17e;
    list-style-type: none;
    font-size: 20px;
    padding: 10px 0;
    margin: 20px 0;
    border: 1px solid black;
}

a   {

    text-decoration: none;
    color: white;
}

a:hover     {

    color: #5d545d;
}
